@page
@model AngusBiniCals.Pages.CalendarModel
@{
    ViewData["Title"] = "View calendar";
}

<div class="main-internal-sm">
    <h1 class="display-1"><i class="bi bi-calendar3"></i> @ViewData["AppTitle"]</h1>
    <h2 class="lead">@Model.Address</h2>

    @if (Model.CalendarEntries == null || !Model.CalendarEntries.Any())
    {
        <p class="text-danger">No dates found</p>
    }
    else
    {
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.CalURL, new {@class= "form-control", @readonly="readonly"})
            <button class="btn btn-primary" type="button">Copy</button>
        </div>
        <div class="list-group text-start">
            @foreach (var entry in Model.CalendarEntries)
            {
                <div class="list-group-item">@entry.Date.ToShortDateString(): @entry.Bin</div>
            }
        </div>
    }
</div>