@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main-internal-sm">
    <h1 class="display-1"><i class="bi bi-calendar3"></i> @ViewData["AppTitle"]</h1>

    <form method="post">
        @Html.LabelFor(m => m.Postcode, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control form-control-lg" })
        <div>@Html.ValidationMessageFor(m => m.Postcode, string.Empty, new { @class = "text-danger" })</div>
        <button type="submit" class="btn btn-lg btn-primary my-3">Lookup postcode</button>
    </form>

    @if (Model.AddressEntries != null)
    {
        <div class="list-group">
            @foreach (var address in Model.AddressEntries)
            {
                <a href="#" class="list-group-item list-group-item-action">@address.AddressTrimmed</a>
            }
        </div>
        if (!Model.AddressEntries.Any())
        {
            <p class="text-danger">No entries found for that postcode</p>
        }
    }
</div>